.metadata/
.recommenders/
RemoteSystemsTempFiles
InsiderThreatStreamReasoning/bin
InsiderThreatStreamReasoning/.settings
InsiderThreatStreamReasoning/.classpath
InsiderThreatStreamReasoning/.project
InsiderThreatStreamReasoning/data/trimmed-dat/
InsiderThreatStreamReasoning/data/precision calculation/
InsiderThreatStreamReasoning/data/different-individuals/text1.txt
InsiderThreatStreamReasoning/data/different-individuals/text2.txt
InsiderThreatStreamReasoning/data/different-individuals/text3.txt
InsiderThreatStreamReasoning/data/different-individuals/different-individuals.ttl
InsiderThreatStreamReasoning/data/streamingdata-1user/ACM2278-1userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-1user/CDE1846-1userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-1user/CMP2946-1userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-1user/MBG3183-1userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-10user/ACM2278-10userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-10user/CDE1846-10userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-10user/CMP2946-10userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-10user/MBG3183-10userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-100user/ACM2278-100userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-100user/CDE1846-100userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-100user/CMP2946-100userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-100user/MBG3183-100userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-1000user/ACM2278-1000userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-1000user/CDE1846-1000userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-1000user/CMP2946-1000userlist_annotation.txt
InsiderThreatStreamReasoning/data/streamingdata-1000user/MBG3183-1000userlist_annotation.txt
ontology-data exfiltration alone/catalog-v001.xml