.metadata/
.recommenders/
RemoteSystemsTempFiles
InsiderThreatStreamReasoning/bin
InsiderThreatStreamReasoning/.settings
InsiderThreatStreamReasoning/.classpath
InsiderThreatStreamReasoning/.project
InsiderThreatStreamReasoning/data/trimmed-dat/
InsiderThreatStreamReasoning/data/precision calculation/
ontology-data exfiltration alone/catalog-v001.xml